.green-1 {
	color: #18a95c;
}

.gray-1 {
	color: #131022;
}

.gray-2 {
	color: #585c7b;
}

.gray-3 {
	color: #b4b7c9;
}

.gray-4 {
	color: #3e4265;
}

.gray-5 {
	color: #9397ad;
}

.red-1 {
	color: #ac223a;
}

.blue-1 {
	color: #0d6efd;
}

.white {
	color: #ffffff;
}

.black {
	color: #000000;
}
